
@{
    ViewData["Title"] = "Projects";
}

<div class="container">
    <h1>Projects</h1>
    <div class="row">
        <div class="col">
            This site is kept in GitHub with build and release actions configured.
        </div>
    </div>
    <div class="row">
        <div class="col">
            Build status <img src="https://github.com/mjmurray88/CodePolyglot-Site/workflows/.NET%20Core/badge.svg?branch=master" />
        </div>
    </div>
</div>
