@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-center">
    <p>My name is Alexis Murray, my internet alter ego is <a href="https://www.twitter.com/techwitch_aly"><i class="fab fa-twitter"></i>&ensp;TechWitch_Aly</a>.</p>
    <p>Here you will find information about various software projects I have contributed to as well as my musings on software engineering, DevOps, and other technologies.</p>
</div>
<div class="text-center pt-5">
    <img src="~/img/headshot.jpg" class="img-fluid rounded w-25" alt="Headshot" />
</div>
