@{
    ViewData["Title"] = "Resume";
}

<div class="container">
    <h2>Summary</h2>
    <p>
        Lead Software Engineer and Technical Architect with experience leading multiple teams on different products (4 to 6 developers per team). Experienced with designing technical solutions and communicating those solutions to business stakeholders and developers. 7+ years experience with Java, C#, JavaScript, MS SQL Server, and Microsoft Azure.
    </p>
</div>
<hr />
<div class="container">
    <h2>Technologies &amp; Skills</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                C#
            </div>
            <div class="col-sm">
                Java / Spring
            </div>
            <div class="col-sm">
                JavaScript / jQuery
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                SQL
            </div>
            <div class="col-sm">
                CSS / Sass
            </div>
            <div class="col-sm">
                Azure DevOps
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Requirements Gathering
            </div>
            <div class="col-sm">
                Technical Design
            </div>
            <div class="col-sm">
                JIRA / Confluence
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <h2>
        Experience
    </h2>
    <div class="container">
        <div class="row">
            <div class="col font-italic">
                Solution Architect - Apps Group
            </div>
        </div>
        <div class="row">
            <div class="col">
                BDO Digital, LLC
            </div>
            <div class="col">
                January 2020 - Present
            </div>
        </div>
        <div class="row ml-5">
            <ul>
                <li>
                    DevOps Go-To-Market leader and strategist
                </li>
                <li>
                    Responsible for overall project technical architecture and standards
                </li>
                <li>
                    Facilitate discovery sessions with clients with Functional Lead to create unified design documents
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col font-italic">
                Manager, Application Development
            </div>
        </div>
        <div class="row">
            <div class="col">
                SWC Technology Partners, LLC
            </div>
            <div class="col">
                May 2019 - January 2020
            </div>
        </div>
        <div class="row ml-5">
            <ul>
                <li>
                    Lead on DevOps process adoption and tool selection
                </li>
                <li>
                    Continued ownership of C# and Java frameworks including security enhancements
                </li>
                <li>
                    Responsible for overall technical design for solutions, creating application architecture documentation
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col font-italic">
                Senior Consultant
            </div>
        </div>
        <div class="row">
            <div class="col">
                SWC Technology Partners, LLC
            </div>
            <div class="col">
                June 2016 - May 2019
            </div>
        </div>
        <div class="row ml-5">
            <ul>
                <li>
                    Led multiple teams of developers across multiple simultaneous projects
                </li>
                <li>
                    Responsible for technical design of solution components
                </li>
                <li>
                    Product owner of internal Java framework, upgraded framework to support Spring Framework
                </li>
                <li>
                    Technical lead for internal C# framework
                </li>
            </ul>
        </div>
    </div>
    <div class="container mb-2">
        <div class="row">
            <div class="col font-italic">
                Staff Consultant
            </div>
        </div>
        <div class="row">
            <div class="col">
                SWC Technology Partners, LLC
            </div>
            <div class="col">
                June 2014 - June 2016
            </div>
        </div>
    </div>
    <div class="container mb-2">
        <div class="row">
            <div class="col font-italic">
                Associate Consultant
            </div>
        </div>
        <div class="row">
            <div class="col">
                SWC Technology Partners, LLC
            </div>
            <div class="col">
                May 2013 - June 2014
            </div>
        </div>
    </div>
    <div class="container mb-2">
        <div class="row">
            <div class="col font-italic">
                Software Engineering Intern
            </div>
        </div>
        <div class="row">
            <div class="col">
                NueMeta, LLC
            </div>
            <div class="col">
                June 2012 - August 2012
            </div>
        </div>
    </div>
    <div class="container mb-2">
        <div class="row">
            <div class="col font-italic">
                Teaching/Lab Assistant
            </div>
        </div>
        <div class="row">
            <div class="col">
                University of Saint Francis
            </div>
            <div class="col">
                August 2008 - December 2010
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <h2>
        Education
    </h2>
    <div class="container">
        <div class="row">
            <div class="col">
                DePaul Univeristy
            </div>
            <div class="col font-italic">
                Chicago, IL
            </div>
        </div>
        <div class="row ml-5">
            <ul>
                <li>
                    Master of Science - Computer Science
                </li>
                <li>
                    Concentration: Software Engineering
                </li>
                <li>
                    Cumulative GPA: 3.95
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col">
                Univeristy of Saint Francis
            </div>
            <div class="col font-italic">
                Joliet, IL
            </div>
        </div>
        <div class="row ml-5">
            <ul>
                <li>
                    Bachelor of Science - Computer Science
                </li>
                <li>
                    Minor: Mathematics
                </li>
                <li>
                    Cumulative GPA: 4.0
                </li>
            </ul>
        </div>
    </div>
</div>
