<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodePolyglot - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <script src="https://kit.fontawesome.com/afa3781770.js" crossorigin="anonymous"></script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="" asp-action="Index">CodePolyglot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Resume" asp-action="Index">Resume</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link text-light" asp-controller="Projects" asp-action="Index">Projects</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link text-light" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer align-content-center">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    &copy; 2020, 2021 by Alexis Murray
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <a href="https://www.linkedin.com/in/mjmurray88"><i class="fab fa-linkedin"></i>&ensp;Alexis Murray</a>
                </div>
                <div class="col">
                    <a href="https://www.twitter.com/codepolyglot"><i class="fab fa-twitter"></i>&ensp;CodePolyglot</a>
                </div>
                <div class="col">
                    <a href="https://www.github.com/mjmurray88"><i class="fab fa-github"></i>&ensp;mjmurray88</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
