@model CodePolyglot.Models.Resume.ResumeModel
@{
    ViewData["Title"] = "Resume";
}

<div class="container">
    <h2>Summary</h2>
    <p>
        @Html.DisplayFor(m => m.Summary)
    </p>
</div>
<hr />
<div class="container">
    <h2>Technologies &amp; Skills</h2>
    <div class="container">
        @foreach(var group in Model.Technologies.Partition(3))
        {
            <div class="row">
                @foreach(var ele in group)
                {
                    <div class="col-sm">
                        <i class="fas fa-check-circle fas-small"></i>&ensp;@ele
                    </div>
                }
            </div>
        }
    </div>
</div>
<hr />
<div class="container">
    <h2>
        Experience
    </h2>
    @foreach (Experience exp in Model.Experiences)
    {
        <partial name="_ExperiencePartial.cshtml" model="exp" />
    }
</div>
<hr />
<div class="container">
    <h2>
        Education
    </h2>
    <div class="container">
        @foreach (Education edu in Model.Schools)
        {
            <partial name="_EducationPartial.cshtml" model="edu" />
        }
    </div>
</div>
