name: .NET Core Delivery

# Only trigger on new tags
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal
      - name: Publish
        run: dotnet publish -c Release -o dotnetcorewebapp
      - name: App Service Deploy
        uses: azure/webapps-deploy@v1
        with:
          app-name: codepolyglot
          publish-profile: ${{ secrets.publish_profile }}
          package: './dotnetcorewebapp'
